input{
    border: none;
    outline: none;
    width: 100%;
    background-color: none;
}
.id{
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    padding-left: 20px;
}
.pw{
    border-bottom: 2px solid #333;

}
.btn_login{
    width: 200px;height: 50px;
    background-color: aqua;}
    input:focus{
        border: 1px solid red
}
input[type=text]{
    font-size: 30px;
}
